<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>VOC Register</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="py-5 text-center">
    <h2>이의 제기</h2>
</div>
<div th:each="courier : ${couriers}">
<form th:if="${courier.penalty}" th:action="|${courier.courierNum}/objection|" method="post">
        <li th:text="${courier.courierName}"></li>
        <input type="hidden" name="courierName" th:value="${courier.courierName}">
        <div th:if="${!courier.objection}">
        <input class="w-100 btn btn-primary btn-lg" th:if="${!courier.objection}"type="checkbox" id="isObjectionFalse" name="isObjection">
        </div>
        <div th:if="${courier.objection}">
        <input class="w-100 btn btn-primary btn-lg" type="checkbox" id="isObjectionTrue" name="isObjection" text="이의제기 진행중">
        </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">이의제기</button>
        </ul>

</form>
</div>




<button class="w-100 btn btn-primary btn-lg" onclick="location.href='/'">홈으로</button>
</body>
</html>